# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.whl

# Virtual environments
.venv/
venv/
env/

# Generated reports
normalise-report.html
catalog.html
